{% extends "home/base.html" %}
{% block content %}
                
                <!-- Begin Page Content -->
                <div class="container-fluid">
                     
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Montants à débiter des employées pour ce mois</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"></h6>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable", width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Employée</th>
                                            <th>N° compte</th>
                                            <th>Part qu'il doit payer</th>
                                        </tr>
                                    </thead>
                                    <!--<tfoot>
                                        <tr>
                                           
                                        </tr>
                                    </tfoot>-->
                                    <tbody>
                                    {% for commande in orders_this_month %}
                                        <tr>
                                            <td>{{commande.user}}</td>
                                            <td>{{commande.n_compte}}</td>
                                            <td>{{commande.user_pay_this_month}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
{% endblock %}