{% extends "home/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% if messages %}
{% for message in messages %}
{% if 'warning' in message.tags %}
	<div class="alert alert-danger" role="alert">
		{{message}}
	</div>
{% else %}
	<div class="alert alert-success" role="alert">
		{{message}}
	</div>
{% endif %}
{% endfor %}
{% endif %}
{% if request.user.groups.all|length == 1 %}
{% for group in request.user.groups.all %}
<div class="container-fluid">
	{% if group.name != 'restaurateur' %}
<div class="row">
    <div class="col-md-3">
		<div class="card border-left-primary shadow h-100 py">
		<div class="card card-body">
			<h5 style="text-align: center;">Photo de profile</h5>
			<hr>
			{% if request.user.profile.photo %}
			<img class="profile-pic" src="{{profile.photo.url}}">
			{% else %}
			<img class="profile-pic" src="">
			{% endif %}
		</div>
	</div>
	</div>
    <div class="col-md-5">
		<div class="card border-left-primary shadow h-100 py">
		<div class="card card-body">
			<h5 style="text-align: center;">Vos commandes de ce mois</h5>
			<hr>
			<h1 class="text-dark" style="text-align: center;padding: 10px">{{order_count_this_month}}</h1>
            <h4 class="text-warning" style="text-align: center;padding: 10px">{{pdj_order_count_this_month}} Petit dejeuner{% if pdj_order_count_this_month >= 2 %}s{% endif %}</h4>
            <h4 class="text-warning" style="text-align: center;padding: 10px">{{dj_order_count_this_month}} Dejeuner{% if dj_order_count_this_month >= 2 %}s{% endif %}</h4>
		</div>
	</div>
	</div>
    <div class="col-md-4">
		<div class="card border-left-primary shadow h-100 py">
		<div class="card card-body">
			<h5 style="text-align: center;">Vous devez payer ce mois-ci</h5>
			<hr>
			<h1 class="text-dark" style="text-align: center;padding: 10px">{{pay_this_month}} MRU</h1>
		</div>
	</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md">
		<div class="card border-left-primary shadow h-70 py">
		<div class="card card-body">
			<h5 style="text-align: center;">Barcode</h5>
			<hr>
			<img class="profile-pic" src="{{profile.barcode.url}}">
		</div>
	</div>
	</div>
	<div class="row">
		<div class="col-md">
		<div class="card border-left-primary shadow h-100 py">
			<div class="card card-body">
				<h5 style="text-align: center;">Actions</h5>
				<hr>
				<a class="btn btn-outline-primary  btn-sm btn-block" data-toggle="modal" data-target="#profileModal">Modifier mon profil</a>
				<a class="btn btn-outline-danger  btn-sm btn-block" data-toggle="modal" data-target="#passwordModal">Modifier le mot de passe</a>
	
			</div>
		</div>
	</div>
	</div>
</div>
{% else %}
<div class="container-fluid">
<div class="row">
	<div class="col-md">
	<div class="card border-left-primary shadow h-100 py">
		<div class="card card-body">
			<h5 style="text-align: center;">Actions</h5>
			<hr>
			<a class="btn btn-outline-primary  btn-sm btn-block" data-toggle="modal" data-target="#profileModal">Modifier mon profil</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" data-toggle="modal" data-target="#passwordModal">Modifier le mot de passe</a>

		</div>
	</div>
</div>
</div>
</div>
{% endif %}
<br>
<!--Edit user modal-->
<div class="modal fade" tabindex="-1" id="profileModal" role="dialog">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title">Modifier le profil</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
		  </div>
		  <div class="modal-body">
			  <form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ user_form|crispy }}
					{{ profile_form|crispy }}
		  </div>
			<div class="modal-footer">
				  <button type="submit" class="btn btn-primary">Enregistrer</button>
			  </form> 
			  <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
		  </div>
	  </div>
	</div>
</div>

<!--Change password modal-->
<div class="modal fade" tabindex="-1" id="passwordModal" role="dialog">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title">Changement du mot de passe</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
		  </div>
		  <div class="modal-body">
			  <form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group">
						<label for="exampleInputPassword1">L'ancien mot de passe</label>
						<input type="password" name="q_Old_Password" class="form-control" id="exampleInputPassword1" placeholder="Le mot de passe actuellement">
					</div>
				
				
					<div class="form-group">
						<label for="NewPassword">Nouveau mot de passe</label>
						<input type="password" name="q_new_Password" class="form-control" id="NewPassword" placeholder="Le nouvau mot de passe">
					</div>
				
				
					<div class="form-group">
						<label for="ConfirmNewPassword">Confirmer le nouvau mot de passe</label>
						<input type="password" name="q_confirm_new_Password" class="form-control" id="ConfirmNewPassword" placeholder="Le nouvau mot de passe">
					</div>
		  </div>
			<div class="modal-footer">
				  <button type="submit" class="btn btn-primary">Enregistrer</button>
			  </form> 
			  <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
		  </div>
	  </div>
	</div>
</div>
<br>
{% if group.name != 'restaurateur' %}
<div class="row">
	<div class="col">
		<div class="card card-body">
			<h4 class="h4 mb-2 text-gray-800">Filtrer mes commandes</h4>
			<form method="get">
                {{myFilter.form.as_p}}
		    <button class="btn btn-primary" type="submit">Filtrer</button>
		  </form>
		</div>
	</div>

</div>
<br>
<!--h4 class="m-0 font-weight-bold text-dark center">Vos commandes</h4-->

<div class="card-body">
	<h4 class="h4 mb-2 text-gray-800">Vos commandes</h4>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				 <thead>
                 <tr>
					<th>Repas</th>
					<th>Prix</th>
					<th>Date</th>
					<th>Votre part</th>
					<th>Part banque</th>
				</tr>
                </thead>
				{% for order in orders %}

				<tr>
					<td>{{order.repas}}</td>
					<td>{{order.repas.prix}}</td>
					<td>{{order.orderDate}}</td>
					<td>{{order.partUser}}</td>
					<td>{{order.partBank}}</td>
				</tr>
				{% endfor %}

			</table>

	</div>
</div>

            </div>
		</div>
{% endif %}
{% endfor %}

{% else %}
<div class="container-fluid">
<div class="row">
    <div class="col-md-3">
		<div class="card border-left-primary shadow h-100 py">
		<div class="card card-body">
			<h5 style="text-align: center;">Photo de profile</h5>
			<hr>
			{% if request.user.profile.photo %}
			<img class="profile-pic" src="{{profile.photo.url}}">
			{% else %}
			<img class="profile-pic" src="">
			{% endif %}
		</div>
	</div>
	</div>
    <div class="col-md-5">
		<div class="card border-left-primary shadow h-100 py">
		<div class="card card-body">
			<h5 style="text-align: center;">Vos commandes de ce mois</h5>
			<hr>
			<h1 class="text-dark" style="text-align: center;padding: 10px">{{order_count_this_month}}</h1>
            <h4 class="text-warning" style="text-align: center;padding: 10px">{{pdj_order_count_this_month}} Petit dejeuner{% if pdj_order_count_this_month >= 2 %}s{% endif %}</h4>
            <h4 class="text-warning" style="text-align: center;padding: 10px">{{dj_order_count_this_month}} Dejeuner{% if dj_order_count_this_month >= 2 %}s{% endif %}</h4>
		</div>
	</div>
	</div>
    <div class="col-md-4">
		<div class="card border-left-primary shadow h-100 py">
		<div class="card card-body">
			<h5 style="text-align: center;">Vous devez payer ce mois-ci</h5>
			<hr>
			<h1 class="text-dark" style="text-align: center;padding: 10px">{{pay_this_month}} MRU</h1>
		</div>
	</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md">
		<div class="card border-left-primary shadow h-70 py">
		<div class="card card-body">
			<h5 style="text-align: center;">Barcode</h5>
			<hr>
			<img class="profile-pic" src="{{profile.barcode.url}}">
		</div>
	</div>
	</div>

	<div class="row">
		<div class="col-md">
		<div class="card border-left-primary shadow h-100 py">
			<div class="card card-body">
				<h5 style="text-align: center;">Actions</h5>
				<hr>
				<a class="btn btn-outline-primary  btn-sm btn-block" data-toggle="modal" data-target="#profileModal">Modifier mon profil</a>
				<a class="btn btn-outline-danger  btn-sm btn-block" data-toggle="modal" data-target="#passwordModal">Modifier le mot de passe</a>
	
			</div>
		</div>
	</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<h4 class="h4 mb-2 text-gray-800">Filtrer mes commandes</h4>
			<form method="get">
                {{myFilter.form.as_p}}
		    <button class="btn btn-primary" type="submit">Filtrer</button>
		  </form>
		</div>
	</div>

</div>
<br>
<!--h4 class="m-0 font-weight-bold text-dark center">Vos commandes</h4-->

<div class="card-body">
	<h4 class="h4 mb-2 text-gray-800">Vos commandes</h4>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				 <thead>
                 <tr>
					<th>Repas</th>
					<th>Prix</th>
					<th>Date</th>
					<th>Votre part</th>
					<th>Part banque</th>
				</tr>
                </thead>
				{% for order in orders %}

				<tr>
					<td>{{order.repas}}</td>
					<td>{{order.repas.prix}}</td>
					<td>{{order.orderDate}}</td>
					<td>{{order.partUser}}</td>
					<td>{{order.partBank}}</td>
				</tr>
				{% endfor %}

			</table>

	</div>
</div>

            </div>
		</div>
			{% endif %}
            <!-- End of Main Content -->
{% endblock %}
