{% extends "home/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Modification des utilisateurs</h1>

                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <input type="submit" name="Submit">
                    </form>

                </div>
                <!-- /.container-fluid -->
{% endblock %}